body{
    margin-left: 0;
}
#header{
                   
    color: white;
   width:100vw;
    height:fit-content;
    background-color: rgb(51, 51, 158);
}
header{
   
    display:flex;
    align-items: center;
    justify-content:space-between;
    /* border: 2px solid green; */
    width:75vw;
    margin:0 auto;
}
header h1{
    font-size: 2.5em;
    width:450px;
    /* border:2px solid yellow; */
}
#nav-links ul{
    display: flex;
    width:450px;
    /* border:2px solid white; */
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}
#nav-links ul a{
    text-decoration: none;
    color:white

}
#nav-links ul a:visited{
    color:cornflowerblue;
}
#jumbotron{
    margin-top: 0px;
    color:white;
    width:100vw;
    height:75vh;
    background-image: url('Images/641d1e609b0ca6fd6e79dc23b83e6fb0.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
}
#jumbotron h2{
    text-align: center;
    width:75vw;
    margin: 0 auto;
    font-size: 2em;
}
#search{
    
    width:100vw;
    height:35vh;
    /* border:2px solid green; */
    display: flex;

    align-items: center;
    justify-content: flex-end;
}
#search input{

    width:250px;
    height:25px;
    padding:10px;
    color:rgb(105, 105, 105);
    border-style:solid;
    border-width: 1px;
    border-color: rgb(105, 105, 105);
}
#search button{
    margin-right: 50px;
    width:200px;
    border:0px;
    padding:15px;
    font-size: 0.9em;
    color:white;
    background-color: rgb(12, 12, 149);
} 
#sections{
    padding:0px 10vw;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height:60vh;
    width:80vw;
    display: flex;
    background-color: rgb(227, 227, 227);
}
#about-section{
    padding:0px 10vw;
    display: flex;
    font-size: 1.2em;
    line-height: 150%;
    height:80vh;
    width:80vw;
    text-align: justify;
    align-items: center;
    justify-content: space-between;
  
    background-color: rgb(227, 227, 227);
}
#about-section #left-side{
 
    padding: 20px;
    /* border:2px solid red; */
}
#colored-background{
    color:white;
    padding: 20px;
    background-color: rgb(16, 33, 23);
}
#right-side{
    color:white;
    width:80vw;
    padding:20px;
    background-color: rgb(16, 33, 23);
}
.section{
    width:20vw;
}
.section p{
    font-size: 1.0em;
    line-height: 150%;
}
.section h4{
    font-size: 1.2em;
}
.section img{
    width:200px;
}
footer{
    width:100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: rgb(51, 51, 158);
}
#projects{
    padding:30px 5vw;
    width:90vw;
    height:fit-content;
    background-color: rgb(227, 227, 227);
}
#partitions{
    display:flex;
    width:90vw;
    justify-content: space-between;
    
    /* border:2px solid white; */
}
#left-section{
    /* border:2px solid red; */
    width:55vw;
}
#right-section{
    width:30vw;
    /* border:2px solid green; */
    padding: 10px;
    padding-left: 20px;
    background-color: rgb(6, 44, 41);
    color: white;
    height: fit-content;
}
#right-section input{
    width:90%;
    display: block;
    border:0px;
    height: 30px;
    margin:5px 0px;
    padding:5px;
}
#right-section textarea{
    width:90%;
    display: block;
    border:0px;
    margin:5px 0px;
    padding:5px;
}
#right-section button{
    width:120px;
    padding:10px;
    margin:5px 0px;
    border:0px;
    border-radius: 3px;
    background-color: white;
}
.project h4{
    width:100%;
    display: block;
    
}
.project{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    background-color:rgb(195, 195, 195);
    margin-bottom: 3px;
    padding: 20px;
}
.project img{
    /* border: 2px solid green; */
    width:100px;
    display:inline-block;
}
.project p{
    width:40vw;
}
